.bg-hero-image {
    background-position: center center;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    background-color: #d1d1d1;
    background-size: cover;
}

.crusoe-banner {
    background-image: url(imgs/crusoe-banner.jpg);
}

.fitzgerald-banner {
    background-image: url(imgs/fitzgerald-banner.jpg);
}

.overthrowing-banner {
    background-image: url('https://picsum.photos/1300/500');
}

.hubble-banner {
    background-image: url('https://picsum.photos/1300/500');
}

.earthquake-banner {
    background-image: url('https://picsum.photos/1300/500');
}

img {
    height: 13.5rem;
}