.bg-hero-image {
    background-image: url('https://picsum.photos/1300/500');
    background-position: center center;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    background-color: #d1d1d1;
    background-size: cover;
}

img {
    height: 13.5rem;
}